@model Pedido

<h2>Resumen del Pedido</h2>

<p>Fecha del pedido: @Model.Fecha.ToString("dd/MM/yyyy")</p>

<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PedidoProductos)
        {
            <tr>
                <td>@item.Producto.Nombre</td>
                <td>@item.Producto.Categoria</td>
                <td>@item.Cantidad</td>
                <td>$@item.Producto.Precio</td>
                <td>$@(item.Producto.Precio * item.Cantidad)</td>
            </tr>
        }
    </tbody>
</table>
<p><strong>Estado del pedido:</strong> @Model.Estado</p>


<p><strong>Total del pedido:</strong> $@Model.PedidoProductos.Sum(p => p.Producto.Precio * p.Cantidad)</p>
