@model Proyecto1_MZ_MJ.Data.Paginacion<Proyecto1_MZ_MJ.Models.Habitacion>

@using Proyecto1_MZ_MJ.Data;

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Habitaciones</h1>

<!-- Botón para crear una nueva habitación -->
<p>
    <a asp-action="Create" class="btna btn-succes">Registrar habitacion</a>
</p>

<!-- Formulario para buscar habitaciones  -->
<form asp-controller="Habitacions" asp-action="Index" method="get">
    <p>
        Buscar: <input type="text" name="buscar" value="@ViewData["FiltroActual"]" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
        <a asp-action="Index" class="btn btn-outline-info">Lista completa</a>
    </p>
</form>


<!-- Tabla para mostrar las habitaciones -->
<table class="table">
    <thead>
        <tr>
            <th>
                NumHabitacion
            </th>
            <th>
                Capacidad
            </th>
            <th>
                PrecioPorNoche
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Disponible
            </th>
            <th>
                Tipo
            </th>
            <th>
                Vistas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Bucle para mostrar las habitaciones en la tabla -->
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumHabitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioPorNoche)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vistas)
                </td>
                <td>
                    <!-- Enlaces para editar, ver detalles y eliminar la habitación -->
                    <a asp-action="Edit" asp-route-id="@item.HabitacionId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.HabitacionId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.HabitacionId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Controles para la paginación -->
<div>
    <div style="display: inline-block; margin-right: 20px;">
        <a asp-action="Index" asp-route-ordenActual="NombreAscendente">Ordenar por NumHabitacion</a>
    </div>
    <div style="display: inline-block; margin-right: 20px;">
        <a asp-action="Index" asp-route-ordenActual="PrecioAscendente">Ordenar por Precio</a>
    </div>
    <div style="display: inline-block;">
        <a asp-action="Index" asp-route-ordenActual="CapacidadAscendente">Ordenar por Capacidad</a>
    </div>

    <!-- Botones para navegar entre páginas -->
    @{
        var anteriordeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
        var siguientedeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
    }

    <div>
        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio - 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @anteriordeshabilitado">Anterior</a>

        <!-- Bucle para mostrar números de página y resaltar la página actual -->
        @for (var i = 1; i <= Model.PaginasTotales; i++)
        {
            var paginaactiva = (i == Model.PaginaInicio) ? "active" : "";
            <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
               asp-route-numpag="@i" asp-route-filtroActual="@ViewData["FiltroActual"]"
               class="btn btn-primary @paginaactiva">Página @i</a>
        }

        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
           asp-route-numpag="@(Model.PaginaInicio + 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
           class="btn btn-primary @siguientedeshabilitado">Siguiente</a>
    </div>
</div>
